@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: linear-gradient(
    to bottom,
    #2c084c,
    #431172,
    #601f9e,
    #a054de
  );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
